@font-face {
  font-family: "NovaSquare";
  src: url("../fonts/NovaSquare-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

:root {
    --color-white: #E2E8F0;
    --color-white-bg : #e2e8f081;
    --color-grey: #5C6A83;
    --color-dark: #1F1F1F;
    --color-green: #49B1A6;
    --color-green-bk: #49b1a74d;
}

body {
    font-family: "NovaSquare";
    background-color: var(--color-dark);
}

h1 {
    color: var(--color-white);
}

.pt-color-green{
    color: var(--color-green) !important;
}

.pt-color-white{
    color: var(--color-white) !important;
}

.pt-color-grey{
    color: var(--color-grey) !important;
}

.pt-separator-div{
    background-color: var(--color-green);
    width: 100%;
    height: 4px;
    border-radius: 20px;
}

/* 
    NAVBAR
*/
.pt-nav-item-selected {
    background-color: var(--color-green);
    border-radius: 20px;
}

.pt-nav-item-selected a {
    color: var(--color-white) !important;
}  

.pt-nav li{
    font-weight: 100;
}

.bg-navbar{
    background-color: var(--color-dark);
}


/* ABOUT ME */
.subtitle {
    color: var(--color-green);
}

#social-networks i{
    color: var(--color-green);
    font-size: 1.5rem;
}


/* CARDS */

.pt-card{
    background-color: transparent;
}

.pt-card:hover {
    background-color: rgba(236, 232, 240, .1);
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1.01);
    border-color: red;
}

.pt-card:hover h5 {
    color: var(--color-green) !important;
}

.technologies-badges{
    list-style: none;
}

.technologies-badges li{
    display: inline;
    padding-left: 10px; 
}

.technologies-badges li{
    font-family: "Quicksand";
    color: var(--color-green);
    font-weight: 600;
    background-color: var(--color-green-bk);
    padding: 3px 10px 5px 10px;
    border-radius: 20px;
    font-size: .8rem;
}


/* TIMELINE */
.timeline {
    position: relative;
    /* background: #272e48; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}
.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed var(--color-green-bk);
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}
.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: var(--color-green); /*color titulo fuera de la caja*/
    font-size: 1.5rem;
}
.timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
}
.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    background: rgba(236, 232, 240, .1); /* color del fondo de los items del timeline*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/* .timeline-row .timeline-content:after {
    content: "d";
    position: absolute;
    top: 20px;
    height: 16px;
    width: 16px;
    background: var(--color-green); color de rombo en la carta
} */
.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: var(--color-green); /* color del punto de la linea del tiempo*/
    border: 2px dashed var(--color-green);
}
.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}
.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}
.timeline-row .timeline-content i {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: red; /* color del circulo rojo dentro la carta*/
    margin-bottom: 10px;
    display: inline-block;
}
.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
    display: flex;
}
.timeline-row .timeline-content .thumbs img {
    margin: 5px;
    max-width: 60px;
}
.timeline-row .timeline-content .badge {
    color: #ffffff;
    background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
}
.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
}
.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

@media (max-width: 992px) {
    .timeline {
        padding: 15px;
    }
    .timeline:after {
        border: 0;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        text-align: left;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:after {
        display: none;
    }
}
